.error-label {
    color: red;
}

.single-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 1%
}

.single-button{
    background-color: rgba(165, 109, 2017, 1);
    border-width: 0;
    border-radius: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 2%;
    font-size: 18px;
    color: white;
}

.single-button:hover{
    cursor: pointer
}

.single-button :hover{
    cursor: nw-resize;
    align-self: center
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.confirmation-label{
    margin-top: 2%;
}

.text-input{
    padding: 1%;
}